<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @project.Class_Type %>
</p>

<p>
  <strong>Class number:</strong>
  <%= @project.Class_Number %>
</p>

<p>
  <strong>Class start:</strong>
  <%= @project.Class_Start %>
</p>

<p>
  <strong>Class finish:</strong>
  <%= @project.Class_Finish %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @project.Contact_Info %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
